
.form{
  margin: 0 auto;
  width: 300px;
  position: relative;
  background-color: thistle;
  padding: 15px 50px 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.error {
  color: red;
  font-size: 90%;
}
.heading{
    text-align: center;
    color: aqua;
    font-size: 35px;
    font-style: italic;
    position:relative;
    padding: 25px;
}
.label {
    color: blueviolet;
    padding: 2px;
  }
  .onelabel{
    display: inline;
    width: 10px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px;
    box-sizing: border-box;
  }

    input,select{
      border: 1px solid #ccc;
      padding: 10px;
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 2px;
    
    }
 
  .submit{
    font-size: 20px;
    font-weight: bold;
    background: #006dcc;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }